@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;900&display=swap");

/* Landing Page */

.landing-page {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
}

.landingMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingTitle {
  font-size: 4.5vw;
}

.landingTitle span {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5vw;
  color: steelblue;
}

.landingParagraph {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 2vw;
  max-width: 500px;
}

.scrollContainer {
  margin-top: 10px;
  transition: transform 250ms;
}

.scrollContainer:hover {
  transform: translateY(10px);
}

.scrollDownBtn {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.9vw;
  color: steelblue;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
}

.scrollicon {
  width: 30px;
  height: auto;
}

@media screen and (max-width: 375px) {
  
}

/* About Me Page */

.about-page {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto Slab", serif;
}
.about-page div {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 50px;
  margin: 0 auto;
  background-color: whitesmoke;
  box-shadow: 5px 5px #030a13;
  transition: all ease-in-out 0.5s;
  
}
.about-page div:hover {
  box-shadow: 0px 0px 2px 2px #030a13;
  transition: all ease-in-out 0.5s;
}
.about-page div h1 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.about-page div p {
  font-weight: 300;
  margin-bottom: 20px;
}


.developer {
  flex: 50%;
  transition: transform 250ms;
  max-width: 400px;
  margin: 0 auto;

}

.developer:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}

.biography {
  font-weight: 400;
  font-size: 1vw;
  max-width: 600px;
  margin-bottom: 5px;
  line-height: 2rem;
}

.reference {
  text-decoration: none;
  color: currentColor;
  position: relative;
  font-weight: 900;
  margin-left: 3px;
  margin-right: 1px;
  color: steelblue;
}

.reference::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.reference:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 375px) {
  .biography {
    font-size: 5vw;
  }
  .developer {
    margin-bottom: 1rem;
  }
  .about-page {
    flex-direction: column-reverse;
    padding: 1rem;
    height: auto;
  }
}

/* Projects Page */

.projects-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1440px;
}

.projects {
  flex-basis: 300px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 3px solid #4682b4;
  transition: all ease-in-out 0.5s;
}

.projects:hover {
  border-top: 3px solid steelblue;
  border-bottom: none;
  transform: scale(0.99);
  transition: all ease-in-out 0.5s;
}

.project-image {
  width: 60%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: scale-down;
  transition: transform 250ms ease-in;
}

.project-image:hover {
  transform: scale(0.9);
  transition: transform 250ms ease-in;
}

.description {
  width: 100%;
  height: auto;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: steelblue;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


.tech-stack span {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.project-button {
  min-width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3d348b
}
.project-button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.project-button:hover:after {
  opacity: 1;
  right: 10px;
}
.project-button:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


@media screen and (max-width: 375px) {
}
