@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;900&display=swap");

/* Landing Page */

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  max-width: 1440px;
}

.landingMessage {
  max-width: 900px;
}

.landingTitle {
  font-size: 3vw;
}

.landingTitle span {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  color: steelblue;
}

.landingParagraph {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 3vh;
  max-width: 500px;
}

.scrollContainer {
  margin-top: 20px;
  transition: transform 250ms;
}
.scrollContainer:hover {
  transform: translateY(10px);
}

.scrollDownBtn {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.9vw;
  color: steelblue;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
}

.scrollicon {
  width: 30px;
  height: auto;
}

@media screen and (max-width: 375px) {
  .landingTitle {
    font-size: 7vw;
    font-weight: 900;
    height: auto;
  }
  .landingParagraph {
    font-size: 3vh;
  }
  .scrollDownBtn {
    font-size: 5vw;
  }
}

/* About Me Page */

.about-page {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5rem;
  max-width: 1440px;
  margin: 0 auto;
}
.about-page div {
  flex: 50%;
}
.developer {
  flex: 50%;
  width: 400px;
  margin: 2rem;
  padding: 5rem;
  transition: transform 250ms;
}

.developer:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}

.biography {
  font-weight: 400;
  font-size: 1vw;
  max-width: 600px;
  margin-bottom: 5px;
  line-height: 2rem;
  max-width: 400px;
}

.reference {
  text-decoration: none;
  color: currentColor;
  position: relative;
  font-weight: 900;
  margin-left: 3px;
  margin-right: 1px;
  color: steelblue;
}

.reference::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.reference:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 375px) {
  .biography {
    font-size: 5vw;
  }
  .developer {
    width: 350px;
    margin-bottom: 1rem;
  }
  .about-page {
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 1rem;
    height: auto;
  }
}

/* Projects Page */

.projects-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1440px;
}

.projects {
  flex-basis: 300px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 3px solid #4682b4;
  transition: all ease-in-out 0.5s;
}

.projects:hover {
  border-top: 3px solid steelblue;
  border-bottom: none;
  transform: scale(0.99);
  transition: all ease-in-out 0.5s;
}

.project-image {
  width: 60%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: scale-down;
  transition: transform 250ms ease-in;
}

.project-image:hover {
  transform: scale(0.9);
  transition: transform 250ms ease-in;
}

.description {
  width: 100%;
  height: auto;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: steelblue;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.linkBtn {
  padding: 10px 10px;
  max-width: 200px;
  font-size: 1rem;
  font-weight: 900;
  color: steelblue;
  text-decoration: none;
  border: 1px solid steelblue;
  border-radius: 5px;
  transition: all 250ms ease-in;
}

@media screen and (max-width: 375px) {
}
